mixin cards
    .cards

        .container
            .row
                .col.col-md-3
                    .cards__item
                        .cards__itemImage
                            img(class="lazyload" src="static/img/content/card1.jpg" alt="cards image")
                        .cards__itemText
                            p Free Gutter <br>Evaluation
                .col.col-md-3
                    .cards__item
                        .cards__itemImage
                            img(class="lazyload" src="static/img/content/card2.jpg" alt="cards image")
                        .cards__itemText
                            p Same Day Install <br>Available
                .col.col-md-3
                    .cards__item
                        .cards__itemImage
                            img(class="lazyload" src="static/img/content/card3.jpg" alt="cards image")
                        .cards__itemText
                            p Manufactured <br>In The USA
                .col.col-md-3
                    .cards__item
                        .cards__itemImage
                            img(class="lazyload" src="static/img/content/card4.jpg" alt="cards image")
                        .cards__itemText
                            p Service & Support <br>Included
