$theme-name: 'theme';

//common
$primary-text: #313131;
$primary-fill: #fff;
$secondary-fill: #F1F2F4;
$link-default: #e44f36;
$primary-title: #313131;
$secondary-title: #fff;
$primary-title-decor: #7d90a9;
$secondary-title-decor: #e44f36;
$comments-fill: #f5f3f9;

//header
$header-bg: #fff;
$header-bd: 1px solid #E0E0E0;

//footer
$footer-bg: #0C8543;
