mixin lifetime
    .lifetime
        .container
            .row
                .lifetime__image.col-lg-3
                    img(class="lazyload" src="static/img/content/lifetime.svg" alt="lifetime image")
                .lifetime__text.col-lg-9
                    h3 <span class="colored-text">Lifetime</span> Warranty
                    p With our lifetime, transferable warranty, you’ll enjoy the peace of mind that Partner️™ will last as long as you own your home.