include ../components/common/head
include ../components/common/include-js
include ../components/common/img-svg

include ../components/%=component_header=%/header/header
include ../components/%=component_partner=%/partner/partner
include ../components/%=component_cards=%/cards/cards
include ../components/%=component_lifetime=%/lifetime/lifetime
include ../components/%=component_prices=%/prices/prices
include ../components/%=component_utp=%/utp/utp
include ../components/%=component_footer=%/footer/footer

doctype html
html(class="no-js" lang="en")
    head
        +head
    body
        .w-outer
            +header
            block content

            +footer
        +include-js

        block scripts
