extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        .container
            .row

                .col
                    .w-gap-sm
                    h1 How over <span class="colored-text">410,000 americans</span> increased their property value <span class="colored-text">in under 6 hours*</span> with this simple upgrade.
        .w-gap-sm
            +utp
        .w-gap-sm
        +partner
        .hide-to-md
            +prices
            +cards
        +lifetime
        .container
            .row
                .col
                    p.text * - The actual installation time may vary depending on home size, weather conditions, scope of work, etc..