.footer__list {
  margin: 0;
  padding: 0;
  list-style: none; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  min-width: 320px; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.3; }

@media only screen and (max-width: 991px) {
  * {
    outline: none; } }

h1 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.22;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); }
  h1 span {
    font-weight: 700; }
  @media only screen and (min-width: 992px) {
    h1 {
      font-size: 32px; } }
  @media only screen and (min-width: 1366px) {
    h1 {
      font-size: 45px; }
      h1 span {
        font-size: 50px; } }

h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700; }
  @media only screen and (min-width: 992px) {
    h3 {
      font-size: 21px; } }
  @media only screen and (min-width: 1366px) {
    h3 {
      font-size: 27px; } }

body {
  background-color: #fff;
  font-weight: 500;
  color: #313131; }

html {
  height: 100%;
  font-size: 16px; }
  @media only screen and (min-width: 992px) {
    html {
      font-size: 18px; } }

.w-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }

.w-inner {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.colored-text {
  color: #0C8543; }

.w-gap {
  margin-top: 30px; }
  @media only screen and (min-width: 992px) {
    .w-gap {
      margin-top: 40px; } }

.w-gap-sm {
  margin-top: 24px; }
  @media only screen and (min-width: 992px) {
    .w-gap-sm {
      margin-top: 55px; } }

.w-gap-md {
  margin-top: 25px; }
  @media only screen and (min-width: 992px) {
    .w-gap-md {
      margin-top: 30px; } }

.w-gap-lg {
  margin-top: 60px; }
  @media only screen and (min-width: 768px) {
    .w-gap-lg {
      margin-top: 60px; } }
  @media only screen and (min-width: 992px) {
    .w-gap-lg {
      margin-top: 134px; } }

.w-gap-xl {
  margin-top: 60px; }
  @media only screen and (min-width: 768px) {
    .w-gap-xl {
      margin-top: 80px; } }
  @media only screen and (min-width: 992px) {
    .w-gap-xl {
      margin-top: 310px; } }

.hide-to-md {
  display: none; }
  @media only screen and (min-width: 992px) {
    .hide-to-md {
      display: block; } }

.text {
  margin: 0;
  padding: 35px 0; }
  @media only screen and (min-width: 992px) {
    .text {
      padding: 62px 0;
      text-align: center; } }

@media only screen and (min-width: 992px) {
  .no-gutters {
    padding: 0 !important; } }

.header {
  position: relative;
  width: 100%;
  padding: 10px 0;
  z-index: 99;
  background: #fff;
  border-bottom: 1px solid #E0E0E0;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out; }
  .header__logo {
    height: 100%;
    max-width: 150px;
    max-height: 50px;
    margin: 0 auto; }
    .header__logo svg {
      width: 100%;
      height: 100%; }
  @media only screen and (min-width: 992px) {
    .header {
      padding: 10px 0 20px 0; }
      .header__logo {
        height: 100%;
        max-width: 168px;
        max-height: 56px;
        margin: 0 auto; }
        .header__logo svg {
          width: 100%;
          height: 100%; } }

.is-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out; }

.partner {
  padding: 35px 0;
  background: #F3F9F6; }
  .partner__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%; }
    .partner__text h3 {
      margin-bottom: 18px; }
    .partner__text p {
      line-height: 1.5; }
  .partner__image {
    height: 100%; }
    .partner__image img {
      display: inline-block;
      width: 100%;
      -o-object-position: left;
      object-position: left; }
      @supports (object-fit: cover) {
        .partner__image img {
          width: 100%;
          max-height: 300px;
          -o-object-fit: cover;
          object-fit: cover; } }
  .partner__image_badge {
    position: relative; }
  .partner__badge {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
    height: 72px; }
    .partner__badge svg {
      width: 100%;
      height: 100%; }
      .partner__badge svg rect {
        width: 100%;
        height: 100%; }
  @media only screen and (min-width: 992px) {
    .partner {
      padding: 60px 0; }
      .partner__badge {
        position: absolute;
        top: -20px;
        right: -20px;
        width: 240px;
        height: 86.7px; }
      .partner__text h3 {
        margin-top: 20px;
        margin-bottom: 15px;
        line-height: 1.33; } }

.cards__itemImage {
  position: relative;
  z-index: 10;
  overflow: hidden;
  border-radius: 8px; }
  .cards__itemImage img {
    width: 100%;
    max-width: 255px;
    -o-object-position: left;
    object-position: left; }
    @supports (object-fit: cover) {
      .cards__itemImage img {
        width: 100%;
        min-height: 100%;
        -o-object-fit: cover;
        object-fit: cover; } }

.cards__itemText {
  position: relative;
  margin-top: -5px;
  padding: 18px 15px;
  z-index: 9;
  background: #0C8543;
  border-radius: 0 0 8px 8px;
  color: #fff;
  text-align: center; }
  .cards__itemText p {
    margin: 0;
    font-size: 18px;
    font-weight: 500; }

@media only screen and (min-width: 1366px) {
  .cards__itemText p {
    font-size: 21px; } }

.lifetime {
  padding: 35px 0;
  background: #F6F6F6; }
  .lifetime__image {
    position: relative;
    margin-bottom: 25px;
    text-align: center; }
    .lifetime__image img {
      width: 100%;
      max-width: 168px;
      -o-object-position: left;
      object-position: left; }
      @supports (object-fit: cover) {
        .lifetime__image img {
          width: 100%;
          min-height: 100%;
          -o-object-fit: cover;
          object-fit: cover; } }
  .lifetime__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
    .lifetime__text p {
      margin: 0;
      line-height: 1.5; }
    .lifetime__text h3 {
      margin-bottom: 18px; }
  @media only screen and (min-width: 992px) {
    .lifetime {
      margin-top: 55px; } }
  @media only screen and (min-width: 1366px) {
    .lifetime {
      position: relative;
      padding: 60px 0 55px; }
      .lifetime__image {
        height: 100%; }
        .lifetime__image img {
          position: absolute;
          top: -67px;
          left: 15px;
          height: 238px;
          max-width: 255px; }
      .lifetime__text {
        padding-right: 35px;
        text-align: left; }
        .lifetime__text p {
          line-height: 1.44; } }

.utp__wrap {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr; }

.utp__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 16px;
  overflow: hidden;
  background: #F3F9F6;
  border-radius: 8px;
  text-align: center; }

.utp__itemImage {
  margin-bottom: 20px; }

.utp__itemText p {
  margin: 0;
  font-size: 16px;
  font-weight: 500; }

@media only screen and (min-width: 992px) {
  .utp__wrap {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
  .utp__item {
    padding: 30px 18px; }
  .utp__itemImage {
    margin-bottom: 16px; }
    .utp__itemImage svg {
      width: 70px;
      height: 70px; }
  .utp__itemText p {
    font-size: 21px; }
    .utp__itemText p br {
      display: none; } }

.prices {
  padding: 60px 0 6px;
  text-align: center; }
  .prices h3 {
    margin-bottom: 20px; }
  .prices p {
    line-height: 1.44; }

.footer {
  padding: 25px 0;
  background: #0C8543;
  font-size: 12px;
  color: #fff;
  text-align: center; }
  .footer__logo {
    margin-bottom: 25px;
    text-align: center; }
    .footer__logo svg {
      width: 100%;
      height: 100%;
      max-width: 150px; }
  .footer__list {
    margin-bottom: 25px;
    text-align: center; }
    .footer__list li {
      margin-bottom: 15px; }
    .footer__list li a {
      font-size: 14px;
      color: #fff;
      text-decoration: underline;
      -webkit-transition: all .35s ease-in-out;
      transition: all .35s ease-in-out; }
      .footer__list li a:hover, .footer__list li a:focus {
        text-decoration: none; }
  @media only screen and (min-width: 1366px) {
    .footer__logo {
      margin-bottom: 0;
      text-align: left; }
      .footer__logo svg {
        width: 100%;
        height: 100%;
        max-width: 170px; }
    .footer__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
      margin-bottom: 0;
      padding-left: 5px;
      gap: 30px; }
      .footer__list li {
        margin: 0; }
    .footer__privacy {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100%;
      padding-left: 35px;
      text-align: left; } }
